.App {
  display: flex;

}

.pane {
  border: 2px solid black;
  height: 300px;
  width: 200%;
  margin: 2em;
}

.ingredient {
  height: 50px;
  width: 150px;
  margin: 0.25rem;
  border-radius: 25%;
}

.bun {
  background-color: goldenrod;
}

.lettuce {
background-color: green;
}

.meat {
background-color: brown;
}

.cheese {
background-color: yellow;
}